extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}
		
  .row
    .col-12.col-md-8
      .error=message
      //- each location in locations
      //-   .card
      //-     .card-block
      //-       h4
      //-         a(href=`/location/${location.id}`)= location.name
      //-         +outputRating(location.rating)
      //-         span.badge.badge-pill.badge-default.float-right= location.distance
      //-       p.address= location.address
      //-       .facilities
      //-         each facility in location.facilities
      //-           span.badge.badge-warning= facility
      app-home-list


    .col-12.col-md-4
      p.lead= sidebar
block scripts
  script(src='/build/runtime-es2015.e8a2810b3b08d6a1b6aa.js')
  script(src='/build/polyfills-es2015.0ef207fb7b4761464817.js')
  script(src='/build/main-es5.7d3c176ee926aefbe6d1.js')